# Python caches
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
/staticfiles/
media/

# Virtual environments
venv/
ENV/
.env

# VS Code
.vscode/

# Archivos personalizados (no subir uwu)
* _jose.py
*_jose.*
*load_sqlite_data_jose*