# Python caches
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
/staticfiles/
media/

# Virtual environments
venv/
.venv/
ENV/
env/
.env
.env.*
!.env.example

# VS Code
.vscode/

# Archivos personalizados (no subir)
*_jose.py
*_jose.*
*load_sqlite_data_jose*
