# Copiar como Backend/.env EN EL SERVIDOR: /home/usercodex/academia_src/Backend/.env

SECRET_KEY=cambia-esto-por-un-secret-key-largo
DEBUG=False

ALLOWED_HOSTS=academia.usercodex.com,127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=https://academia.usercodex.com

DB_ENGINE=mysql
DB_NAME=AcademiaDB
DB_USER=usercodex
DB_PASSWORD=TU_CLAVE_MYSQL
DB_HOST=127.0.0.1
DB_PORT=3306
